Source/Raverus.FiskalizacijaDEV/Web References/StatusService/GetStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Status">
        <s:complexType />
      </s:element>
      <s:element name="StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StatusSoapIn">
    <wsdl:part name="parameters" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="StatusSoapOut">
    <wsdl:part name="parameters" element="tns:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="StatusHttpGetIn" />
  <wsdl:message name="StatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="StatusHttpPostIn" />
  <wsdl:message name="StatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GetStatusSoap">
    <wsdl:operation name="Status">
      <wsdl:input message="tns:StatusSoapIn" />
      <wsdl:output message="tns:StatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetStatusHttpGet">
    <wsdl:operation name="Status">
      <wsdl:input message="tns:StatusHttpGetIn" />
      <wsdl:output message="tns:StatusHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetStatusHttpPost">
    <wsdl:operation name="Status">
      <wsdl:input message="tns:StatusHttpPostIn" />
      <wsdl:output message="tns:StatusHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetStatusSoap" type="tns:GetStatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Status">
      <soap:operation soapAction="http://tempuri.org/Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetStatusSoap12" type="tns:GetStatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Status">
      <soap12:operation soapAction="http://tempuri.org/Status" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetStatusHttpGet" type="tns:GetStatusHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Status">
      <http:operation location="/Status" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetStatusHttpPost" type="tns:GetStatusHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Status">
      <http:operation location="/Status" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetStatus">
    <wsdl:port name="GetStatusSoap" binding="tns:GetStatusSoap">
      <soap:address location="https://www.fdev.hr/StatusWS/GetStatus.asmx" />
    </wsdl:port>
    <wsdl:port name="GetStatusSoap12" binding="tns:GetStatusSoap12">
      <soap12:address location="https://www.fdev.hr/StatusWS/GetStatus.asmx" />
    </wsdl:port>
    <wsdl:port name="GetStatusHttpGet" binding="tns:GetStatusHttpGet">
      <http:address location="https://www.fdev.hr/StatusWS/GetStatus.asmx" />
    </wsdl:port>
    <wsdl:port name="GetStatusHttpPost" binding="tns:GetStatusHttpPost">
      <http:address location="https://www.fdev.hr/StatusWS/GetStatus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>